nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #0c0c0c;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 3;
}

.nav-left{
    flex-grow: 3;
    display: flex;
    align-items: center;
    padding-left: 5%;
    height: 100%;
}

.nav-right{
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10%;
    height: 100%;
}

.nav-left-ul{
    display: flex;
    width: 70%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
}
.nav-left li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}
.nav-link{
    background: linear-gradient(to right, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border-radius: 10px;
    transition: box-shadow 0.6s, color 0.6s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover{
    background: linear-gradient(to right, #FFFFFF, #F2613F);
    color: black;
    box-shadow: 0 0 15px 2px  #F2613F;
}

.connect-btn-li{
    display: none;
}

.connect-lft-btn{
    display: none;
}

.menu-icon{
    display: none;
}

.connect-btn, .connect-btn-a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.connect-btn{
    width: 60%;
    height: 50%;
    background-color: #0c0c0c;
    border: none;
}
.connect-btn-a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #F2613F;
    background-color: #0c0c0c;
    color: #F2613F ;
    transition: box-shadow 0.5s, border 0.5s;
}
.connect-btn-a:hover{
    cursor: pointer;
    border: 1px solid white;
    box-shadow: 0 0 15px 2px #F2613F;
}

@media screen and (max-width: 767px) {
    .menu-icon{
        display: block;
    }
    .menu-icon.active{
        filter: drop-shadow(0 0 4px #F2613F);
    }

    .connect-btn-li{
        display: block;
    }
    .connect-lft-btn{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-right{
        padding-right: 2%;
    }
    .nav-left-ul{
        height: 60%;
        width: 40%;
        display: flex;
        background: #0c0c0c;
        flex-direction: column;
        align-items: end;
        position: fixed;
        top: 8%;
        right: -100vw;
        padding: 5% 0%;
        padding-left: 3%;
        box-shadow: 0 0 15px 2px #FFFFFF;
        transition: right 1s, box-shadow 0.2s;
    }

    .nav-left-ul.active{
        right: 0px;
        box-shadow: 0 0 15px 2px #F2613F;
    }

    .connect-btn{
        display: none;
    }

    .nav-left li{
        margin: 5% 0;
        padding: 0 15%;
    }

    .nav-link{
        width: 100%;
        padding: 0 20%;
        background-color: aqua;
    }

}