.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service-head{
    background: linear-gradient(to right, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.bottom{
    display: flex;
    width: 100%;
    background: palegoldenrod;
    flex-direction: row;
    align-items: center;
}

.left, .right{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    background-color: aqua;
    align-items: center;
}

.left{
    align-items: end;
    padding-right: 5%;
}
.right{
    align-items: start;
    padding-left: 5%;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: rebeccapurple;
}
.service-letter{
    margin: auto;
    display: block;
    color: #F2613F;
    font-size: 400%;
    line-height: 120%;
}
.white{
    color: white;
}

.service-l{
    display: flex;
    align-items: center;
    background: gainsboro;
    width: 70%;
    margin: 3% 0;
}

.service-l-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    background: pink;
}

.service-l-head{
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.service-l-subhead{
    font-size: 1em;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.service-l-icon{
    margin-left: 5%;
    font-size: 5vw;
    color: #F2613F;
}

.service-r{
    display: flex;
    align-items: center;
    background: gainsboro;
    width: 70%;
    margin: 3% 0;
}

.service-r-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    background: pink;
}

.service-r-head{
    font-size: 2em;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to left, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.service-r-subhead{
    font-size: 1em;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.service-r-icon{
    margin-right: 5%;
    font-size: 5vw;
    color: #F2613F;
}

