.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10% 0;
}

.service-head{
    background: linear-gradient(to right, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: text-shadow 1.5s;
    margin-bottom: 10%;
}
.service-head:hover{
    background: linear-gradient(to left, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 8px #F2613F;
}

.bottom{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:10%;
}
.service-letter{
    margin: auto;
    display: block;
    color: #F2613F;
    font-size: 360%;
    line-height: 100%;
}
.white{
    color: white;
}

.left, .right{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    align-items: center;
}

.left{
    padding-right: 4%;
    align-items: end;
    padding-left: 5%;
}
.right{
    padding-left: 4%;
    align-items: start;
    padding-right: 5%;
}

.service-r, .service-l{
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 7% 0;
}

.service-l-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    flex-grow: 1;
}
.service-r-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-grow: 1;
}

.service-r-head, .service-l-head{
    font-size: 140%;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to left, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.service-l-subhead{
    text-align: end;
}
.service-r-subhead, .service-l-subhead{
    font-size: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    flex-grow: 1;
}

.service-l-icon{
    margin-left: 2%;
}

.service-r-icon{
    margin-right: 2%;
}

.service-l-icon, .service-r-icon{
    transition: color 0.5s;
    font-size: 240%;
    color: #F2613F;
}
.service-r-icon:hover, .service-l-icon:hover{
    color: white;
    filter: drop-shadow(0 0 4px #F2613F);
}


@media only screen and (max-width: 768px) {

    .service-r-text, .service-l-text{
        align-items: center;
        justify-content: center;
    }
    .service-r-head, .service-l-head{
        font-size: 100%;
    }
    .service-r-subhead, .service-l-subhead{
        font-size: 70%;
        text-align: center;
    }
    .service-l-icon, .service-r-icon{
        font-size: 160%;
    }
}
