.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin: 10% 0;
}
.skills-subtitle{
    font-size: 100%;
    background: linear-gradient(to right, #FFFFFF, #F2613F);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    margin-bottom:5%;
}

.skills-letter, .skills-white{
    font-size: 360%;
    margin:0;
    padding: 0;
}
.skills-letter:hover, .skills-white:hover{
    filter: drop-shadow(0 0 4px #F2613F);
}
.skills-letter{
    color: #F2613F;
}
.skills-white{
    color: white;
}

.skills-collage{
    width: 60%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.skills-left, .skills-right{
    width: 45%;
    display: flex;
    flex-direction: row;
}

.third-div{
    display: flex;
    width: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-div, .second-div, .fourth-div, .fifth-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

.cell{
    display: flex;
    margin: 3% 3%;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2613F;
    background: transparent;
    border-radius: 15px;
    transition: background-color 0.3s ease, scale 0.3s, box-shadow 0.6s;
}
.cell:hover {
    background-color: rgba(242, 97, 63, 0.1);
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 8px 2px #F2613F;
    z-index: 3;
    scale: 1.2;
    cursor: crosshair;
}
.white-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    background: transparent;
    border-radius: 15px;
}

.fidc{
    width: 94%;
    flex-grow: 1;
    background-color: transparent;
    color: white;
}

.sedc{
    width: 94%;
    flex-grow: 1;
    background-color: transparent;
    color: white;
}
.js{
    flex-grow: 3;
    background-color: transparent;
    color: white;
    width: 94%;
}
.db{
    flex-grow: 3;
    color: white;
    width: 94%;
    background: transparent;
    line-height: 160%;
    text-align: center;
}
@media only screen and (max-width:1000px){
    .skills{
        height: 100vh;
    }
    .skills-subtitle{
        text-align: center;
        font-size: 80%;
        margin: 5% 10%;
    }
    .skills-letter, .skills-white{
        font-size: 240%;
    }
    .skills-collage{
        width: 90%;
        height: 60%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .skills-left, .skills-right{
        width: 45%;
        height: 100%;
    }
    
    .third-div{
        width: 10%;
        flex-direction: column;
        justify-content: space-between;
    }
    .cell{
        font-size: 80%;
    }
}

@media only screen and (max-width:767px){
    .skills{
        height: 100vh;
    }
    .skills-subtitle{
        text-align: center;
        font-size: 80%;
        margin: 5% 10%;
    }
    .skills-letter, .skills-white{
        font-size: 240%;
    }
    .skills-collage{
        height: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills-left, .skills-right{
        width: 100%;
        height: 45%;
    }
    
    .third-div{
        width: 80%;
        height: 10%;
        flex-direction: row;
        justify-content: space-between;
    }
    .cell{
        font-size: 90%;
    }
}