@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'montserrat';
  background: #0c0c0c;
  overflow-x: hidden;
}

.root{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}


/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.montserrat-extra-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body::-webkit-scrollbar {
  background: linear-gradient(to bottom, #0c0c0c, #0c0c0c);
  width: 8px;    
  opacity: 0;           /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  display: none;
  z-index: 1;
  opacity: 0;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  z-index: 1;
  cursor: grab;
  background: linear-gradient(to bottom, #0c0c0c, #F2613F);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}
body::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
  background: linear-gradient(to bottom, #000000, #F2613F);    /* color of the scroll thumb */

}